.cards {
  width: 200px;
  border: 1px solid grey;
  border-radius: 5px;
  padding:24px;
  text-align: center;
}

.cards img{
 height: 100px;
}

.card-container {
  width:900px;
  margin: auto;
}

.header-center{
  text-align: center;
}
